

    /* font: 'Montserrat', sans-serif;
    color-hex: #4e6e81;
    colod-rgb: rgba(78, 110, 110);
    soft background color: rgba(216, 230, 239, 1) */


body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: #4e6e81;
}

a {
    text-decoration: none;
    color: #4e6e81;
}

li {
    list-style: none;
}

/* .App {
    display: grid;
    grid-template-columns: 500px 1000px;
    grid-template-rows: 100px 100px 100px;
} */

/* NAVIGATION HEADER */
.nav {
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
    padding-top: 1%;
    border-bottom: 1px solid rgba(78, 110, 110, 0.2);
    box-shadow: 0 2px 5px 0px rgba(78, 110, 110, 0.3);
    align-items: flex-end;
    z-index: 9999;
}

.navbar-menu {
    display: inline-flex;
    align-items: center;
    list-style: none;
    gap: 2rem;
    text-decoration: none;
}

.navbar-menu > li a {
    text-decoration: none;
    /* font-weight: bold; */
}

.user-name {
    /* text-decoration: none; */
    /* font-weight: bold; */
}


.button,
.input-button {
    border: 1.5px solid #4e6e81;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background 0.3s;
    background-color: #4e6e81;
    color: white;
}

.button:hover,
.input-button:hover {
    background-color: white;
    opacity: 0.9;
    color: #4e6e81;
}


.profile-introduction-save-button {
    border: 1.5px solid #4e6e81;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background 0.3s;
    background-color: #4e6e81;
    color: white;
    margin-top: 10px;
}

.profile-introduction-save-button:hover{
    background-color: white;
    opacity: 0.9;
    color: #4e6e81;
}

.profile-introduction-cancel-button {
    border: 1.5px solid red;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background 0.3s;
    background-color: red;
    color: white;
    margin-top: 10px;
    position: relative;
    bottom: 49px;
    left: 80px;
}

.image-rate-name {
    display: flex;
    flex-direction: column;
}

.rate-name {
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    /* margin-left: 50px; */
    /* margin-right: 0px; */
    margin-top: 30px;
    width: 100%;
}

.input-button-change-image {
    /* display: flex; */
    border: 1.5px solid #4e6e81;
    border-radius: 5px;
    padding: 6px 6px;
    cursor: pointer;
    transition: background 0.3s;
    background-color: #4e6e81;
    color: white;
    font-size: 13px;
    align-self: flex-end;
}

.input-button-change-image:hover {
    background-color: white;
    opacity: 0.9;
    color: #4e6e81;
}


/* FILTER BOX ------------------------------------------------------------------------------------- */
.filter-box {
    /* margin-top: 6px; */
    /* background-color: red; */
    padding: 3px 10px;
    width: 30vw;
    border: 0 1px 0 0;
    /* box-shadow: 1px 0 0px 0px rgba(78, 110, 110, 0.5); */
    box-shadow: 5px 0px 10px 0px rgba(78, 110, 110, 0.3);
}


.filter-box ul {
    margin-top: 10%;
    margin-right: 10%;
}

.filter-close-button,
.addEducation-close-button {
    justify-content: flex-end;
    color: #4e6e81;
    position: relative;
    left: 95%;
    top: 0.4%;
}

.search-menu {
    /* background-color: cyan; */
    display: inline-flex;
    width: 100vw;
    margin-top: 6px;
    align-items: center;
    flex-direction: column;
}

.search-input {
    margin-top: 2rem;
}

.search-input > ul {
    display: inline-flex;
    gap: 1rem;
    /* background-color: red; */
}

/* SEARCH BAR */
.container-search{
    display: flex;
}

/* USER LIST ----------------------------------------------------------------------------------------------------- */
.container-user-list {
    display: flex;
    width: 90vw;
    margin: 20px auto 20px auto;
    flex-direction: row;
    align-content: center;
    /* background-color: blue; */
    flex-direction: column;
}

.user-list {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin: 2%;
    /* background-color: red; */
}

/* User Card */
.user-card {
    background-color: #d8e6ef;
    width: 350px;
    height: 359px;
    border-radius: 10px;
    box-shadow: 0 2px 5px 0px rgba(78, 110, 110, 0.3);
}

.user-image {
    background-color: green;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
}

.user-image-name {
    display: flex;
    justify-content: space-between;
    margin: 5%;
}

.user-info {
    background-color: white;
    display: flex;
}

.user-info ul {
    padding-left: 20px;
}

.user-skills {
    background-color: white;
}

.user-skills-list ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
    margin-top: 0;
    gap: 10px;
    margin-bottom: 0;
}

.add-skill-section,
.add-emp-type-section,
.add-portfolio-section {
    display: flex;
    gap: 10px;
    margin-top: 50px;
    margin-bottom: 10px;
}

.portfolio-edit {
    display: flex;
    flex-direction: row;
    gap: 10px;
}


.skill-selection {
    width: 200px;
    gap: 20px;
    height: 2.25rem;
    font-size: 15px;
    /* border: 1px solid #4e6e81;
    border-radius: 5px;
    box-shadow: 0 2px 5px 0px rgba(78, 110, 110, 0.3); */
}

.user-skills-list ul li{
    padding: 10px 10px;
    background-color: #d8e6ef;
    border-radius: 20px;
    margin-bottom: 10px;
}

.user-rate-status {
    background-color: #d8e6ef;
    height: 35px;
    border-radius: 0 0 10px 10px;
}

.user-rate-status ul {
    display: flex;
    justify-content: space-between;
    
    margin: 0 20px;
    padding: 0;
}

.user-rate-status ul li {
    /* background-color: blue; */
    display: inline-flex;
}

.user-rate-status ul li p {
    margin: 8px auto;
}

.user-rate {
    background-color: red;
    height: 0px;
}

.tooltip {
    /* background-color: red; */
    width: 90px;
}

.user-full-name {
    /* background-color: red; */
    width: 130%;
}

/* Portfolio */
.portfolio-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
    /* background-color: red; */
}

.portfolio {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* background-color: blue; */
    height: 40px;
    gap: 10px
}

.portfolio a {
    font-size: 23px;
}

.portfolio-edit-delete-button {
    display: flex; 
    justify-content: center;
    /* background-color: yellow; */
    gap: 10px;
}


/* Footer  -------------------------------------------------------------------------*/
.container-footer {
    display: flex;
    /* justify-content: center;
    flex-wrap: wrap; */
    /* height: 200px; */
    /* background-color: blue; */
    /* box-shadow: 0 0 5px 0px rgba(78, 110, 110, 0.9); */
    flex-direction: column;
    align-items: center;
    background-color: #d8e6ef;
    padding-top: 30px;
    flex-wrap: wrap;
}

.container-contact-message {
    display: flex;
    flex-wrap: wrap;
    /* background-color: cyan; */
    width: 90vw;
    margin-top: 20px;
    padding-left: 5px;
    padding-right: 10px;
    justify-content: center;
    gap: 20%;
}

.container-contact-info {
    display: flex;
    /* width: 40vw; */
    padding: 5rem auto;
    /* background-color: red; */
    justify-content: center;
    /* margin-right: 10%; */
}

.container-contact-info ul li{
    margin-top: 10px;
    font-size: 18px;
}

.social-media {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: flex-start;
    /* background-color: blue; */
    padding: 0;
}

.container-contact-info div ul li a {
    text-decoration: none;
    color: #4e6e81;
}

.container-send-message {
    display: flex;
    /* background-color: blue; */
    align-items: center;
    justify-content: center;
}

.sendEmailInput  {
    width: 450px;
    height: 25px;
    font-size: 15px;
    border: 1px solid #4e6e81;
    border-radius: 5px;
    box-shadow: 0 2px 5px 0px rgba(78, 110, 110, 0.3);
}

.sendEmailTextArea {
    width: 450px;
    font-size: 15px;
    border: 1px solid #4e6e81;
    border-radius: 5px;
    box-shadow: 0 2px 5px 0px rgba(78, 110, 110, 0.3);
}

.container-creator {
    display: flex;
    justify-content: center;
    margin-top: 70px;
    background-color: white;
    width: 100%;
    align-items: center;
}

/* PAGINATION ---------------------------------------------------------------------- */

.container-pagination {
    /* background-color: red; */
    margin: 20px auto;
}


/* ICON COLOR ---------------------------------------------------------------------- */

/* Rating star color */
.fa-star, .fa-solid {
    color: #4e6e81;
}

/* ERROR --------------------------------------------------------------------------- */
.error-field {
    color: red;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.add-education-alert {
    /* background-color: red; */
    position: relative;
    bottom: 20px;
}



/* ALERT --------------------------------------------------------------------------- */
.alert {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 9999;
}

/* LOGIN PAGE ---------------------------------------------------------------------- */
.container-login,
.container-resetpassword,
.container-register {
    display: flex;
    justify-content: center;
    margin: 10% auto;
    align-items: center;
    /* background-color: blue; */
    flex-direction: column;
}

.container-login-form,
.container-resetpassword-form,
.container-register-form {
    border: 1px solid #4e6e81;
    border-radius: 5px;
    box-shadow: 0 2px 5px 0px rgba(78, 110, 110, 0.3);
    width: 450px;
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    /* background-color: blue; */
    flex-direction: column;
}

.success-register-container {
    display: flex;
    flex-direction: column;
    color: red;
    width: 450px;
}

.container-login-form form,
.container-resetpassword-form form,
.container-register-form form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 40px;
    /* background-color: red; */
}

.login-form-header,
.resetpassword-form-header,
.register-form-header {
    align-self: center;
    /* margin-bottom: 50px; */
}

.container-username,
.container-password,
.container-retype-password,
.container-fullname,
.container-email {
    display: flex;
    flex-direction: column;
}

.login-input,
.reset-password-input,
.new-passport-input,
.input-field,
.portfolio-input-field,
.rate-input-field {
    gap: 20px;
    max-width: 90%;
    height: 2rem;
    font-size: 15px;
    border: 1px solid #4e6e81;
    border-radius: 5px;
    box-shadow: 0 2px 5px 0px rgba(78, 110, 110, 0.3);
}

.portfolio-input-field {
    width: 60%;
    height: 2.25rem;
}

.rate-input-field {
    width: 20%;
    height: 2.25rem;
}

.portfolio-selection {
    gap: 20px;
    width: 180px;
    height: 2.47rem;
    font-size: 15px;
    border: 1px solid #4e6e81;
    border-radius: 5px;
    box-shadow: 0 2px 5px 0px rgba(78, 110, 110, 0.3);
}

.password-input-field {
    gap: 20px;
    width: 90%;
    height: 2rem;
    font-size: 15px;
    border: 1px solid #4e6e81;
    border-radius: 5px;
    box-shadow: 0 2px 5px 0px rgba(78, 110, 110, 0.3);
}

.login-button-loginpage {
    margin-top: 20px;
    margin-bottom: 5px;
}

.password-input,
.password-field-container {
    display: flex;
    gap: 10px;
}

.eye-icon {
    align-self: center;
    width: 10px;
}

.sign-up-area {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
}

.forget-password {
    align-self: flex-end;
}

/* RESET PASSWORD */
.new-password-field {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* USER TYPE */

.container-user-type {
    /* background-color: red; */
    display:  flex;
    flex-direction: column;
    align-items: center;
}

/* .user-type-header {
    background-color: blue;
} */

.button-label {
    display: flex;
    gap: 10px;
    padding: 10px 20px;
    background-color: #fff;
    color: #4e6e81;
    border: 1.5px solid #4e6e81;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 150px;
    justify-content: center;
}

/* Change the label's background color when hovered */
.button-label:hover {
    background-color: #4e6e81;
    color: #fff;
}

/* Hide the actual radio button input */
input[type="radio"] {
    display: none;
}

/* Style the radio button when it's selected */
input[type="radio"]:checked + .button-label {
    background-color: #4e6e81;
    border-color: #4e6e81;
    color: #fff;
}

.user-type-selection {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

/* USER ACTIVATION ---------------------------------------------------------------------- */
.container-user-activation {
    display: flex;
    /* background-color: blue; */
    justify-content: center;
    margin: 10% auto;
}
.activation-confirmation {
    padding: 100px 100px;
    border: 1px solid #4e6e81;
    border-radius: 5px;
    box-shadow: 0 2px 5px 0px rgba(78, 110, 110, 0.3);
    
    /* margin: 100px 100px 20% 100px; */
}

.signup-button {
    /* background-color: red; */
    margin-top: 10px;;
    width: 100%;
    border: 1.5px solid #4e6e81;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background 0.3s;
    background-color: #4e6e81;
    color: white;
}

.signup-button:hover {
    background-color: white;
    opacity: 0.9;
    color: #4e6e81;
}


/* PROFILE PAGE */
.profile_container{
    margin-top: 5%;
    margin-bottom: 30px;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
    /* display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr; */
    /* flex-wrap: wrap; */
    /* background-color: red; */
}

.profile-and-job-section {
    display: grid;
    grid-template-columns: 1fr 20px 1fr;
    margin-top: 100px;
}

.profile-section {
    /* padding-right: 50px; */
    /* background-color: red; */
    padding: 20px;
    /* box-shadow: 5px 0 5px -2px rgba(78, 110, 110, 0.3); */
}


@media (max-width: 600px) {
    .profile_container {
        grid-template-columns: 1fr; /* Switch to a single column */
    }
}


.profile-content {
    /* background-color: red; */
    padding-left: 20px;
    /* width: 70%; */
}

.profile-container {
    /* margin-left: 10%; */
}

.profile_detail_header {
    display: flex;
    background-color: rgba(216, 230, 239, 0.5);
    border: 0px solid #4e6e81;
    border-radius: 5px;
    box-shadow: 0 2px 5px 0px rgba(78, 110, 110, 0.3);
    padding: 20px;
}

.change-progress-image-button {
    display: flex;
    /* flex-direction: column; */
    align-self: flex-end;
}

.job-container {
    /* background-color: blue; */
    /* width: 45vw; */
    /* flex-grow: 1; */

    border-left: 1px solid rgba(169,169,169, 0.5);
    box-shadow: -5px 0px 5px -5px rgba(169, 169, 169, 0.5);
}

.profile_action {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    gap: 20px;
    /* justify-content: space-evenly; */
}

/* Profile Rate */
.profile-rate {
    /* background-color: yellow; */
    padding-left: 40px;
    /* padding-right: 100px; */
    height: 40px;
    display: flex;
}

.rate-stars {
    display: flex;
    align-self: center;
    position: relative;
    right: 80px;
}

.profilepicture-rate-name {
    width: 100%;
    padding-left: 30px;
    padding-top: 30px;
}

/* Profile Image */
.profile_picture {
    display: flex;
    align-items: center;
    /* background-color: green; */
    /* margin-left: 30px; */
}

.profile_image {
    /* background-color: blue; */
    width: 250px;
    height: 250px;
    border-radius: 50%;
    box-shadow: 0 2px 5px 0px rgba(78, 110, 110, 0.3);
}

/* Total Payment */
.total_payment {
    /* margin-left: 100px; */
    /* background-color: cyan; */
    border: 1px solid #4e6e81;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 2px 5px 0px rgba(78, 110, 110, 0.3);
}

/* Profile Detail */
.profile-detail {
    margin-top: 50px;
    margin-bottom: 50px;
    padding-left: 50px;
    /* background-color: blue; */
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.profileTextArea,
.experience-textArea {
    width: 90%;
    font-size: 15px;
    border: 1px solid #4e6e81;
    border-radius: 5px;
    box-shadow: 0 2px 5px 0px rgba(78, 110, 110, 0.3);
}

.checkbox-input {
    align-self: center;
}

.experience-container {
    display: flex;
    width: 100%;
}


.experience-detail {
    /* background-color: red; */
    /* width: 80%; */
    display: flex;
    justify-content: space-between;
}

.jobTitle {
    /* width: 30em; */
    /* background-color: red; */
}
.jobTitle p {
    font-size: 18px;
    font-weight: bold;
}

.experience-title {
    /* background-color: red; */
    width: 150%;
}

.edit-delete-exp-button {
    display: flex;
    gap: 10px;
}

.experience-date-list {
    /* background-color: blue; */
    position: absolute;
    right: 60px;
    top: 17px;
    display: flex;
    justify-content: space-between;
}

.experience-date-list p {
    font-size: 15px;
    width: 90px;
    justify-content: space-around;
    /* background-color: red; */
}

#date-dash {
    width: 20px;
}

.profile_experience,
.experience-form,
.experience-edit-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
    /* background-color: red; */
}

.experience-form {
    padding: 30px 30px;
    border: 1px solid #4e6e81;
    border-radius: 5px;
    box-shadow: 0 2px 5px 0px rgba(78, 110, 110, 0.3);
}

.experience-edit-form {
    width: 100%;
    padding: 30px 30px;
    border: 1px solid #4e6e81;
    border-radius: 5px;
    box-shadow: 0 2px 5px 0px rgba(78, 110, 110, 0.3);
}

.experience-date {
    display: flex;
    gap: 10px;
}

.experience-startend-date {
    display: flex;
    flex-direction: column;
}

.addExperience-close-button {
    justify-content: flex-end;
    color: #4e6e81;
    position: relative;
    left: 95%;
    top: 0.4%;
}

.input-field-experience-startend-date {
    gap: 20px;
    max-width: 100%;
    height: 2rem;
    font-size: 15px;
    border: 1px solid #4e6e81;
    border-radius: 5px;
    box-shadow: 0 2px 5px 0px rgba(78, 110, 110, 0.3);
}

.profile-input {
    /* background-color: red; */
    width: 60vw;
}

.profile_experience,
.profile-employment-type,
.profile_education,
.profile_language,
.portfolio-container,
.working-history-container {
    margin-top: 80px;
}

.profile-input-field {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.add-education,
.edit-field {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* background-color: red; */
    padding: 10px 10px;
    gap: 10px;
    width: 450px;
    height: 95%;
    border: 1px solid #4e6e81;
    border-radius: 5px;
    box-shadow: 0 2px 5px 0px rgba(78, 110, 110, 0.3);
}

.profile_education {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.education-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* background-color: red; */
}

.education-list-icon {
    padding-top: 15px;
    margin-right: 20px;
}

.profile-edit-delete-button {
    display: flex;
    gap: 10px;
    /* background-color: cyan; */
    padding-top: 15px;
}

.education-item,
.portfolio-item {
    width: 100%;
}

.education-edit-button {
    display: flex;
    /* width: 50vw; */
    /* background-color: red; */
}

.edit-field {
    display: flex;
    flex-direction: column;
}


/* LANGUAGE SECTION */

.profile_language {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.add-language {
    display: flex;
    gap: 10px;
    /* background-color: red; */
    width: 43rem;
    margin-top: 20px;
}

.language-selection {
    gap: 20px;
    width: 10rem;
    height: 2.25rem;
    font-size: 15px;
    border: 1px solid #4e6e81;
    border-radius: 5px;
    box-shadow: 0 2px 5px 0px rgba(78, 110, 110, 0.3);
}

.language-proficiency-selection {
    gap: 20px;
    width: 10rem;
    height: 2.25rem;
    font-size: 15px;
    border: 1px solid #4e6e81;
    border-radius: 5px;
    box-shadow: 0 2px 5px 0px rgba(78, 110, 110, 0.3);
}

.language-save-button,
.skill-save-button {
    border: 1.5px solid #4e6e81;
    border-radius: 5px;
    padding: 9px 20px;
    cursor: pointer;
    transition: background 0.3s;
    background-color: #4e6e81;
    color: white;
}

.language-save-button:hover,
.skill-save-button:hover {
    background-color: white;
    opacity: 0.9;
    color: #4e6e81;
}

.skills-container {
    /* background-color: red; */
    /* margin-top: 30px; */
}

.language-list,
.skill-level-list,
.emp-type-list {
    /* background-color: red; */
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: row; */
    gap: 10px;
    width: 50em;
    margin: 20px auto;
}

.language-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid #4e6e81;
    border-radius: 5px;
    box-shadow: 0 2px 5px 0px rgba(78, 110, 110, 0.3);
    background-color: #d8e6ef;
    /* font-size: 15px; */
}

.skill-level-container,
.emp-type-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid #4e6e81;
    border-radius: 5px;
    box-shadow: 0 2px 5px 0px rgba(78, 110, 110, 0.3);
    background-color: #d8e6ef;
}

.emp-type-container {
    flex-direction: row;
}

.emp-type-list-close-button {
    position: relative;
    z-index: 9999;
    float: left;
    margin-left: 20px;
    /* top: 10px */
    /* width: 20%; */
}


.language-list-close-button,
.skill-list-close-button {
    position: relative;
    z-index: 9999;
    float: left;
    /* top: 10px */
    width: 50%;
}

.language-item,
.skill-item {
    background-color: #d8e6ef;
}

.language-proficiency-item,
.skill-level-item {
    align-self: flex-end;
    margin-top: 10px;
    margin-left: 50px;
}

/* Expected rate */
.expected-rate {
    display: flex;
    flex-direction: row;
    gap: 10px;
    /* background-color: red; */
}

.amount-expected-rate {
    background-color: rgba(216, 230, 239, 1);
    display: flex;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px; 
}

.currency-expected-rate-form {
    position: relative;
    bottom: 5px;
}

.currency-expected-rate-form p {
    font-size: 20px;
    position: relative;
    bottom: 5px;
}

.period-expected-rate {
    width: 10%;
}

.expected-rate-form {
    display: flex;
    gap: 10px;
}

.divider {
    width: 0;
    height: 100%;
    margin: 0; /* Remove default margin for the hr element */
    position: relative;
    box-shadow: 0 2px 5px 0px rgba(78, 110, 110, 0.3);
}


/* MESSAGES ----------------------------------------------------------------- */
.messages-container {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    margin: 5% 10% 20% 0%;
}

.menu-list {
    padding: 20%;
    padding-top: 0%;
}

.menu-ul {
    margin-top: 0;
}

.send-message-menu {
    display: flex;
    justify-content: center;
    padding: 20px;
    border: 1px solid #4e6e81;
    margin-bottom: 30px;
    border-radius: 20px;
    border: 1.5px solid #4e6e81;
    transition: background 0.3s;
    background-color: #4e6e81;
    color: white;
}

.send-message-menu:hover {
    background-color: white;
    opacity: 0.9;
    color: #4e6e81;
    cursor: pointer;
}

.inbox-menu,
.sent-menu,
.deleted-menu {
    padding: 10px;
    border: 1px solid #4e6e81;
}

.inbox-menu:hover,
.sent-menu:hover,
.deleted-menu:hover {
    cursor: pointer;
    background-color: rgba(216, 230, 239, 1);
}

.inbox-menu-content {
    display: flex;
    justify-content: space-between;
    /* background-color: blue; */
    height: 20px;
}

.inbox-menu-content p {
    /* background-color: red; */
    align-self: center;
}

.unread-message {
    background-color: #4e6e81;
    color: #ffff;
    align-self: center;
    padding: 2px;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 5px;
}

.inbox-menu-clicked,
.sent-menu-clicked,
.deleted-menu-clicked {
    padding: 10px;
    border: 1px solid #4e6e81;
    cursor: pointer;
    background-color: rgba(216, 230, 239, 1);
}

.inbox-menu,
.sent-menu,
.inbox-menu-clicked,
.sent-menu-clicked {
    border-bottom: 0px;
}

.send-message-container {
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    
}

.message {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.send-message-input {
    width: 100%;
    height: 2rem;
    font-size: 15px;
    border: 1px solid #4e6e81;
    border-radius: 5px;
    box-shadow: 0 2px 5px 0px rgba(78, 110, 110, 0.3);
}

.send-message-textarea {
    width: 100%;
    font-size: 15px;
    border: 1px solid #4e6e81;
    border-radius: 5px;
    box-shadow: 0 2px 5px 0px rgba(78, 110, 110, 0.3);
}

.inbox {
    display: grid;
    grid-template-columns: 0.2fr 1fr 0.2fr;
    padding-left: 10px;
    background-color: rgba(216, 230, 239, 1);
    border: 0.1px solid rgba(128, 128, 128, 0.2);
}

.inbox:hover {
    cursor: pointer;
    box-shadow: 1px 5px 45px -29px #4e6e81 inset;
}

.inbox-read {
    display: grid;
    grid-template-columns: 0.2fr 1fr 0.2fr;
    padding-left: 10px;
    background-color: rgba(240, 238, 239, 0.8);
    border: 0.1px solid rgba(128, 128, 128, 0.2);
}

.inbox-read:hover {
    cursor: pointer;
    box-shadow: 1px 5px 45px -29px #4e6e81 inset;
}

.date-container,
.inbox-delete-button {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
    align-items: center;
    /* background-color: red; */
}

.message-detail-container {
    z-index: 99;
    position: fixed; /* Use fixed position to cover the entire viewport */
    top: 0;
    left: 0;
    background:rgba(216, 230, 239, 0.6);
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
}

.message-detail-container-reply {
    z-index: 99;
    position: fixed; /* Use fixed position to cover the entire viewport */
    top: 0;
    left: 0;
    bottom: 100px;
    background:rgba(216, 230, 239, 0.6);
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
}

.message-detail {
    padding: 2%;
    z-index: 100;
    position: absolute;
    top: 6%;
    left: 13%;
    width: 70vw;
    height: 80vh;
    background-color: #ffff;
    border: 1px solid #4e6e81;
    border-radius: 5px;
    box-shadow: 1px -2px 39px -1px rgba(78,110,110,0.75);
}

.message-detail-reply {
    padding: 2%;
    z-index: 100;
    position: absolute;
    top: 6%;
    left: 13%;
    width: 70vw;
    height: 100vh;
    overflow-y: visible;
    background-color: #ffff;
    border: 1px solid #4e6e81;
    border-radius: 5px;
    box-shadow: 1px -2px 39px -1px rgba(78,110,110,0.75);
}

.message-detail-reply-expanded {
    background-color: red;
    padding: 2%;
    z-index: 100;
    position: absolute;
    top: 6%;
    left: 13%;
    width: 70vw;
    height: 140%;
    overflow-y: visible;
    background-color: #ffff;
    border: 1px solid #4e6e81;
    border-radius: 5px;
    box-shadow: 1px -2px 39px -1px rgba(78,110,110, 0.75);
    /* overflow-y: scroll; */
}

.message-detail-prevEmailExpanded {
    background-color: red;
    padding: 2%;
    z-index: 100;
    position: absolute;
    top: 6%;
    left: 13%;
    width: 70vw;
    height: 140%;
    overflow-y: visible;
    background-color: #ffff;
    border: 1px solid #4e6e81;
    border-radius: 5px;
    box-shadow: 1px -2px 39px -1px rgba(78,110,110,0.75);
}

.message-detail-close-button {
    position: relative;
    left: 100%;
    bottom: 25px;
}

.sender-date-message {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.send-message-textarea-reply {
    width: 100%;
    height: 90%;
    font-size: 15px;
    border: 1px solid #4e6e81;
    border-radius: 5px;
    box-shadow: 0 2px 5px 0px rgba(78, 110, 110, 0.3);
}

.reply-cancel-button {
    background-color: red;
    color: white;
    border: 1px solid red;
    border-radius: 5px;
    padding: 10.5px 20px;
    position: relative;
    left: 90px;
    bottom: 38.5px;
    cursor: pointer;
}

.sender-message,
.date-message {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.sender-body-message {
    width: 100%;
    height: 450px;
    background-color: rgba(216, 230, 239, 0.6);
    overflow-y: scroll;
}

.form-replay {
    display: flex;
    flex-direction: column;
}

.body-content {
    padding: 10px;
}

#sender-name {
    font-size: 25px;
    /* background-color: blue; */
    align-self: flex-end;
}

#sender-email {
    font-size: 14px;
    align-self: flex-end;
    /* background-color: red; */
}
.message-replay {
    display: flex;
    /* background-color: red; */
    justify-content: flex-end;
    gap: 20px;
}

.message-reply-button {
    align-content: flex-start;
    /* background-color: red; */
}


.inbox-header {
    display: flex;
    justify-content: space-between;
}

.refresh-icon {
    transition: transform 0.4s ease;
}

.refresh-icon:hover {
    transform: scale(1.2);
}

.show-email-rotated {
    transform: rotate(180deg);
}